{% extends 'quickswap/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About quickswap
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">All About Quickswap</h1>
    </div>
</div>
<div>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus varius, purus at faucibus vehicula, metus metus lobortis urna, eget scelerisque orci magna et purus. Nunc fermentum dignissim mauris, quis posuere justo consequat volutpat. Donec eget magna mollis, cursus felis id, vestibulum nibh. Proin orci tortor, interdum sed facilisis vel, pulvinar ac augue. Donec eget libero vel nulla dignissim venenatis. Ut ultrices sapien a posuere consequat. Nam ut velit sit amet libero semper porta nec eu sapien. Phasellus sed lorem tortor. Mauris nec enim a ligula tincidunt malesuada. Pellentesque non vestibulum risus. Sed ultrices lacinia porta. Donec at maximus ligula. Donec vitae luctus leo, at sagittis sapien. Aenean ultricies, eros vel egestas ultrices, risus urna maximus risus, vitae facilisis urna risus egestas nulla.
  <br />
  Nunc porta nec erat in viverra. Quisque ac tincidunt augue. Vestibulum vel purus ac ipsum laoreet efficitur vel eget eros. Quisque at est a massa tristique mollis nec at ipsum. Nam vitae condimentum ligula. Fusce purus ante, pulvinar in imperdiet vitae, mattis a lacus. Morbi sit amet ligula consectetur, commodo nisi quis, mollis eros. Duis sed quam sed justo lacinia ultrices. Ut eu lacus felis. Donec pharetra rhoncus neque a ultrices. Cras non mi congue, tempus mi sit amet, tempus felis. Aenean rutrum sit amet purus sit amet fermentum. Mauris lacus tortor, posuere eget fermentum non, placerat nec ex. Maecenas id pretium quam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus quis iaculis nisi. <br />
  <p>Visits: {{ visits }}</p>
</div>
{% endblock %}
