{% extends 'quickswap/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container">
      {% if user.is_authenticated %}
        <h1 class="jumbotron-heading">Hello {{ user.username }}! Ready to trade?</h1>
        <div>

            <img src="{{ MEDIA_URL }}{{ user.userprofile.picture }}"
                 width="200"
                 height="200"
                 alt="{{ user.username }}'s profile image"/>
        </div>
      {% else %}
          <h1 class="jumbotron-heading">  Welcome to Quickswap!</h1>
      {% endif %}

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-6">
                <div class="card-body">
                    <h2>Most Commented Trades</h2>
                    <p class="card-text">
                    {% if most_commented %}
                      <ul class="list-group">
                        {% for trade in most_commented %}
                          <a href="{% url 'quickswap:trade' trade.slug %}">{{ trade.name }}</a>
                        {% endfor %}
                      </ul>
                    {% else %}
                      <strong>Quickswap has no trades.</strong>
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-6">
                <div class="card-body">
                    <h2>Most Recent Trades</h2>
                    <p class="card-text">
                    {% if most_recent %}
                    <ul class="list-group">
                      {% for trade in most_recent %}
                          <a href="{% url 'quickswap:trade' trade.slug %}">{{ trade.name }}</a>
                      {% endfor %}
                    </ul>
                    {% else %}
                    <strong>There are no pages present.</strong>
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
