{% extends 'quickswap/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
    Profile of {{ selected_user.username }}.
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
  <div class="container">
    <h1 class="jumbotron-heading">
      {% if selected_user == user %}
         Your profile
      {% else %}
        {{ selected_user.username }}'s Profile
        {% if selected_user.is_superuser %}
          - Admin
        {% endif %}
      {% endif %}
    </h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <img src="{{ MEDIA_URL }}{{ user_profile.picture }}"
    width="300"
    height="300"
    alt="{{ selected_user.username }}'s profile image"/>
    <br />
      <div>
        <p>
          Date Joined: <br />
          {{ user.date_joined|date:"D - d/m/Y" }} <br />
          {{ user.date_joined|timesince }} ago. <br />
          <br />
          Last Login: <br />
          {{ user.last_login|date:"D - d/m/Y" }} <br />
          {{ user.last_login|timesince }} ago. <br />
          <br />
          Trades made: {{ user_profile.trades_made }} <br />
          Comments made: {{ user_profile.comments_made }}
        </p>
      </div>
    <div>
      {% if selected_user == user %}
        <form method="post"action="."enctype="multipart/form-data">
          {% csrf_token %}
          {{ form | crispy }}

          <input class="btn btn-warning" type="submit"value="Update"/>
        </form>
        <br />
        <a class="btn btn-danger" href="{% url 'auth_password_change' %}">Change Password</a>
        <br />
        <a class="btn btn-primary" href="{% url 'quickswap:usertrades' selected_user.username %}">My Trades</a>
      {% else %}
        {% if user_profile.description %}
          <p>
            Description: {{ user_profile.description }}
          </p>
        {% endif %}
        <br />
        <a class="btn btn-primary" href="{% url 'quickswap:usertrades' selected_user.username %}">Their Trades</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
