{% extends 'quickswap/home.html' %}
{% load quickswap_template_tags %}
{% load staticfiles %}


{% block title_block %}
  {{ user.username }}'s trades.
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
  <div class="container">
    {% if selected_user == user %}
      <h1 class="jumbotron-heading"> Your Trades </h1>
    {% else %}
      <h1 class="jumbotron-heading">{{ selected_user.username }}'s Trades</h1>
    {% endif %}
  </div>
</div>

<div class="container">
  <div class="row">
    {% if trade_list %}
    <div class="panel-body">
      <div class="list-group">
        {% for list_trade in trade_list %}
          <div class="list-group-item">
            <h4 class="list-group-item-heading">
                <img src="{{ MEDIA_URL }}{{ pictures|getDictValue:list_trade }}"
                width="48"
                height="48"/>
              <a href="{% url 'quickswap:trade' list_trade.slug %}">
                {{ list_trade.name }}
              </a>
              - Category:
              <a href="{% url 'quickswap:category' list_trade.category %}">
                {{ list_trade.category|capfirst }}
              </a>
              - Comments: {{ comment_num|getDictValue:list_trade }}
            </h4>
          </div>
        {% endfor %}
      </div>
    </div>
    {% else %}
      {% if selected_user == user %}
        <h4>
          You have not made any trades. <img src="{% static 'images/frown.svg' %}"> <br/>
          <a href="{% url 'quickswap:add_trade' %}">Why don't you make one now?</a>
        </h4>
        {% else %}
          <h4>
            This user has not made any trades yet. <img src="{% static 'images/frown.svg' %}">
          </h4>
        {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}
