{% extends 'quickswap/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Profile of {{ selected_user.username }}.
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
  <div class="container">
    {% if selected_user == user %}
      <h1 class="jumbotron-heading"> Your Profile </h1>
    {% else %}
      <h1 class="jumbotron-heading">{{ selected_user.username }}'s Profile</h1>
    {% endif %}
  </div>
</div>

<div class="container">
  <div class="row">
    <img src="{{ MEDIA_URL }}{{ user_profile.picture }}"
    width="300"
    height="300"
    alt="{{ selected_user.username }}'s profile image"/>
    <br />
      <div>
        <p>Date Joined:
        <br />  {{ user.date_joined|date:"D - d/m/Y" }}
        <br />  {{ user.date_joined|timesince }} ago.
        <br />Last Login:
        <br />  {{ user.last_login|date:"D - d/m/Y" }}
        <br />  {{ user.last_login|timesince }} ago.
      </div>
    <div>
      {% if selected_user == user %}
        <form method="post"action="."enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}

          <input type="submit"value="Update"/>
        </form>
        <br />
        <a class="btn btn-danger" href="{% url 'auth_password_change' %}">Change Password</a>
        <br />
        <a class="btn btn-primary" href="{% url 'quickswap:usertrades' selected_user.username %}">My Trades</a>
      {% else %}
        <p>
          Description: {{ user_profile.description }}
        </p>
        <br />
        <a class="btn btn-primary" href="{% url 'quickswap:usertrades' selected_user.username %}">Their Trades</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
